.app-container {
  min-height: 100vh;
}

.app-sidenav {
  padding: 15px;
  width: 100%;
  max-width: 250px;
}
.app-sidenav__open {
  margin: 25px;
}

.app-sidenav__list {
  width: 100%;
}

.app-sidenav-content {
  margin-bottom: 60px;
}
