.form-displayed-columns {
}

.form-displayed-columns__checkbox {
  margin-right: 15px;
  font-size: 12px;
  color: #757575;
}

.users__settings {
  margin: 20px 10px 0 0;
}

.users__table {
  width: 100%;
}

.users__no-records {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
}

.users__table-row:hover {
  cursor: pointer;
  background: whitesmoke;
}

.users__table-row:active {
  cursor: pointer;
  background: #efefef;
}
